@import "commonStyle.scss";

nav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
  }
  li {
    font-weight: bold;
    margin-right: 5rem;
  }
  a {
    color: $dark-color;
    text-decoration: none;
    font-size: 1.5rem;
    &:hover {
      color: white;
    }
  }
}
